.t-button {
  --button-colour: var(--t-colour-base-component);
  --button-padding: .5rem;
  background: linear-gradient(
    to top,
    color-mix(in oklab, var(--button-colour) 90%, black),
    var(--button-colour),
    color-mix(in oklab, var(--button-colour) 90%, white)
  );
  box-shadow:
    inset color-mix(in oklab, var(--button-colour) 75%, white) 0 1px,
    inset color-mix(in oklab, var(--button-colour) 75%, black) 0 -1px,
    color-mix(in oklab, white 30%, transparent) 0 1px 1px,
    color-mix(in oklab, black 10%, transparent) 0 -1px 1px,
    rgb(0 0 0 / 0.2) 0 -1px 1px;
  align-items: center;
  border-radius: 100px;
  border: 0 solid var(--t-colour-base-component-high-contrast);
  color: var(--t-font-colour-default);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--t-default-font-family);
  font-size: var(--t-default-font-size);
  gap: var(--t-spacing-inline);
  line-height: 1;
  padding: var(--button-padding);
  transition: box-shadow var(--transistion-duration);

  slot[name="icon"] {
    align-self: center;
  }

  &.transparent {
    --button-colour: transparent;
  }

  &.without-background {
    background: none;
    box-shadow: none;
    color: var(--t-colour-base-component-high-contrast);
    margin: calc(var(--button-padding) * -1);

    &:hover {
      background: color-mix(in oklab, var(--t-colour-base-component) 25%, transparent);
    }

    &:active {
      background: var(--t-colour-base-component);
    }
  }

  &.link {
    background: none;
    box-shadow: none;
    color: var(--t-colour-base-component-high-contrast);
    margin: 0;
    padding: 0;

    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}

.t-button:hover {
  --button-colour: color-mix(in oklab, var(--t-colour-base-component) 75%, white);
}

.t-button:active {
  --transistion-duration: 0s;
  background: var(--button-colour);
}

* {
  --t-base-colour-hue-offset: 180;
}
