.t-button {
  --button-colour: var(--t-base-colour);
  background: linear-gradient(
    to top,
    color-mix(in oklab, var(--button-colour) 90%, black),
    var(--button-colour),
    color-mix(in oklab, var(--button-colour) 90%, white)
  );
  box-shadow:
    inset color-mix(in oklab, var(--button-colour) 75%, white) 0 1px,
    inset color-mix(in oklab, var(--button-colour) 75%, black) 0 -1px,
    color-mix(in oklab, white 30%, transparent) 0 1px 1px,
    color-mix(in oklab, black 10%, transparent) 0 -1px 1px,
    rgb(0 0 0 / 0.2) 0 -1px 1px;
  align-items: center;
  border-radius: 100px;
  border: 0 solid var(--t-base-border-colour);
  color: var(--t-font-colour-default);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  gap: var(--t-spacing-inline);
  line-height: 1;
  padding: .5rem;
  transition: box-shadow var(--transistion-duration);

  .icon {
    align-self: center;
  }
}

.t-button:hover {
  --button-colour: color-mix(in oklab, var(--t-base-colour) 75%, white);
}

.t-button:active {
  --transistion-duration: 0s;
  background: var(--button-colour);
}

* {
  --t-base-colour-hue-offset: 180;
}
