header {
  --header-content-gap: var(--t-spacing-default);
  --header-horizontal-padding: 0px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "title hcontent";
  align-items: stretch;
  box-sizing: border-box;
  gap: 0 var(--header-content-gap);
  padding-left: var(--header-horizontal-padding);
  padding-right: var(--header-horizontal-padding);

  .title {
    grid-area: title;
    font-size: 1.5rem;
    padding: 1rem 0;
    min-width: calc(var(--t-leftbar-width) - var(--header-horizontal-padding) - var(--header-content-gap));
  }

  .collapsible-content {
    grid-area: hcontent;
    flex: 1;
  }

  .collapsible-content-inner {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;

    .nav {
      align-self: stretch;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        gap: 4px;

        li {
          height: 100%;

          a {
            align-items: center;
            background-color: var(--main-background);
            border-top-left-radius: var(--t-navbar-item-border-radius);
            border-top-right-radius: var(--t-navbar-item-border-radius);
            box-shadow: var(--top-shadow);
            box-sizing: border-box;
            color: var(--t-base-border-colour);
            display: flex;
            font-weight: 500;
            height: calc(100% + 2px);
            padding: 1rem;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          &.open a {
            color: var(--t-font-colour-default);
            position: relative;
            z-index: 2;
          }

          &:not(.open) a:hover {
            background-color: color-mix(in oklab, var(--t-page-background-colour) 90%, white);
            color: var(--t-font-colour-default);
          }
        }
      }
    }

    .toolbar {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .nav-toggle {
    grid-area: toggle;
    display: none;
    align-self: center;
  }
}

@media (max-width: 1200px) {
  header {
    --header-horizontal-padding: var(--t-spacing-default);
  }
}

@media (max-width: 900px) {

  header {
    display: grid;
    grid-template-areas: "title toggle" "hcontent hcontent";
    transition: background-color var(--t-transition-duration-medium);
    padding: 0;

    .title {
      grid-area: title;
      margin-left: var(--t-spacing-default);
    }

    .collapsible-content {
      grid-area: hcontent;
      display: grid;
      grid-template-rows: 1fr; /* To make height transition work */
      transition: grid-template-rows var(--t-transition-duration-medium);

      .collapsible-content-inner {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;

        .toolbar {
          align-self: flex-start;
          padding: 0 1rem;
        }

        .nav {

          ul {
            flex-direction: column;
            gap: 0;

            li {

              a {
                box-sizing: border-box;
                width: 100vw;
                border-radius: 0;
                box-shadow: none;
                height: auto;
                padding: 0.5rem 1rem;
                background-color: transparent;

                &:hover {
                  box-shadow: var(--top-shadow), var(--bottom-shadow);
                }
              }

              &:not(.open) a:hover {
                background-color: color-mix(in oklab, var(--t-page-background-colour) 95%, var(--t-full-contrast-colour));
              }

              &.open a {
                background-color: color-mix(in oklch, var(--t-base-colour) 75%, transparent);
                --top-shadow: inset color-mix(in oklab, var(--t-base-colour) 85%, white) 0 1px 0;
                --bottom-shadow: inset color-mix(in oklab, var(--t-base-colour) 85%, black) 0 -1px 0;
              }
            }
          }
        }
      }
    }

    .nav-toggle {
      display: flex;
      justify-content: flex-end;
      grid-area: toggle;
      margin-right: 1rem;
    }

    &.nav-closed {
      .collapsible-content {
        grid-template-rows: 0fr;
      }
    }

    &.nav-open {
      width: 100%;
      z-index: 100;
      position: relative;
      background-color: var(--t-page-background-colour);
      box-shadow: var(--t-page-background-colour) 0 -100px, var(--bottom-shadow);
    }
  }
}

@media (max-width: 800px) {
  header .title {
    min-width: unset;
  }
}
