:host {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 calc(-1 * var(--t-spacing-default));
  padding-inline-start: 0;
}

#tree-label {
  display: block;
  font-weight: bolder;
  margin-bottom: var(--t-spacing-in-group);
}
