:host {
  --level: 0; /* Set by JS */
  --indent: calc(var(--level) * var(--t-spacing-default));
  --line-left-padding: calc(var(--indent) + calc(var(--t-spacing-default) / 2));
  --line-width: 1px;
  --line-colour: color-mix(in oklab, var(--t-font-colour-default), transparent);
  --line-start-position: calc(var(--line-left-padding));
  --line-end-position: calc(var(--line-start-position) + var(--line-width));
  --arrow-width: 1rem;
}

t-link::part(link), t-button::part(button) {
  align-items: center;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  gap: var(--t-spacing-inline);
  padding: var(--t-spacing-in-group) var(--t-spacing-default) var(--t-spacing-in-group) var(--indent);
  width: 100%;
}

t-link:not(:has(.arrow))::part(link), t-button:not(:has(.arrow))::part(button) {
  padding-left: calc(var(--indent) + var(--t-spacing-inline) + var(--arrow-width));
}

t-link:hover::part(link), t-button:hover::part(button) {
  background-color: color-mix(in oklab, transparent, var(--t-base-colour));
}

li {
  box-sizing: border-box;

  &.expanded {
    .arrow {
      rotate: 90deg;
    }

    .collapsible {
      grid-template-rows: 1fr;
    }
  }

  &.collapsed {
    .arrow {
      rotate: 0deg;
    }

    .collapsible {
      grid-template-rows: 0fr;

      ul {
        visibility: hidden;
        padding: 0;
      }
    }
  }

  .collapsible {
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr; /* To make height transition work */
    transition: grid-template-rows var(--t-transition-duration-medium);

    ul {
      min-height: 0;
      transition: visibility 1s;
    }
  }

  .arrow {
    flex-basis: content;
    width: var(--arrow-width);
    transition: rotate var(--t-transition-duration-medium), scale var(--t-transition-duration-short);

    &:hover {
      scale: 1.5;
    }
  }

  .label {
    flex: 1;
    text-align: left;
  }
}

ul {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-inline: 0;
  background: linear-gradient(
    to right,
    transparent 0,
    transparent var(--line-start-position),
    var(--line-colour) var(--line-start-position),
    var(--line-colour) var(--line-end-position),
    transparent var(--line-end-position)
  );
}
