div {
  --t-background-background-colour: #f5f5f5;
  --t-font-colour-default: #000;
  --t-base-fill-colour: var(--t-base-border-colour);
}

.dark {
  --t-background-background-colour: #444;
  --t-font-colour-default: #fff;
}
