.wrapper {
  background-attachment: fixed;
  background-image: var(--t-background-image-app);
  width: 100%;
}

.layout {
  --background-base: var(--t-colour-page-background);
  --main-background: color-mix(in oklch, var(--background-base) 90%, var(--t-colour-app-background));
  --back-shadow: #0003 0 0 4rem;
  box-sizing: border-box;
  color: var(--t-font-colour-default);
  margin: 0 auto;
  max-width: var(--t-page-max-width);
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .layout {
    padding-top: 0;
  }
}
