header {
  --header-content-gap: var(--t-spacing-default);
  --header-horizontal-padding: 0px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "title hcontent";
  align-items: stretch;
  box-sizing: border-box;
  gap: 0 var(--header-content-gap);
  padding-left: var(--header-horizontal-padding);
  padding-right: var(--header-horizontal-padding);

  .title {
    align-items: center;
    display: flex;
    filter: drop-shadow(0 0 2px var(--t-colour-mode));
    font-size: 1.5rem;
    gap: var(--t-spacing-default);
    grid-area: title;
    min-width: calc(var(--t-leftbar-width) - var(--header-horizontal-padding) - var(--header-content-gap));
    padding: 1rem 0;

    ::slotted(img) {
      height: 1.5em;
    }
  }

  .collapsible-content {
    grid-area: hcontent;
    flex: 1;
  }

  .collapsible-content-inner {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;

    .toolbar {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .nav-toggle {
    grid-area: toggle;
    display: none;
    align-self: center;
  }
}

@media (max-width: 1200px) {
  header {
    --header-horizontal-padding: var(--t-spacing-default);
  }
}

@media (max-width: 900px) {

  header {
    display: grid;
    grid-template-areas: "title toggle" "hcontent hcontent";
    transition: background-color var(--t-transition-duration-medium);
    padding: 0;

    .title {
      grid-area: title;
      margin-left: var(--t-spacing-default);
    }

    .collapsible-content {
      grid-area: hcontent;
      display: grid;
      grid-template-rows: 1fr; /* To make height transition work */
      transition: grid-template-rows var(--t-transition-duration-medium);

      .collapsible-content-inner {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;

        .toolbar {
          align-self: flex-start;
          padding: 0 1rem;
        }
      }
    }

    .nav-toggle {
      display: flex;
      justify-content: flex-end;
      grid-area: toggle;
      margin-right: 1rem;
    }

    &.nav-closed {
      .collapsible-content {
        grid-template-rows: 0fr;
      }
    }

    &.nav-open {
      width: 100%;
      z-index: 100;
      position: relative;
      background-color: var(--t-colour-page-background);
      box-shadow: var(--t-colour-page-background) 0 -100px, var(--bottom-shadow);
    }
  }
}

@media (max-width: 800px) {
  header .title {
    min-width: unset;
  }
}
