.main {
  --border-radius: 12px;
  border-radius: var(--border-radius);
  box-shadow: var(--back-shadow);
  color: var(--t-font-colour-default);
  display: flex;
}

.main .leftbar {
  --main-background: color-mix(in oklab, var(--t-colour-grey-low-contrast) 80%, transparent);
  background-color: var(--main-background);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  box-shadow: var(--t-box-shadow-inset-3d);
  box-sizing: border-box;
  width: var(--t-leftbar-width);

  &.hidden {
    display: none;
  }

  .leftbar-content {
    padding: 1rem;
  }

  .leftbar-toggle {
    display: none;
  }

  &.sticky .leftbar-content {
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }
}

.main .content {
  background-color: var(--main-background);
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-shadow: var(--t-box-shadow-inset-3d);
  flex: 1;
  min-width: 0;
  padding: 1rem;
}

.leftbar.hidden + .content {
  --closed-bar-width: 0px;
  border-radius: var(--border-radius);
}

@media (max-width: 1200px) {
  .main {
    --border-radius: 0;
  }
}

@media (max-width: 800px) {

  .main {
    --closed-bar-width: var(--t-clickable-area-size);
    position: relative;

    .leftbar {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 100;

      &.largescreenonly {
        display: none;
      }

      .leftbar-toggle {
        backdrop-filter: var(--t-popover-backdrop-filter);
        background-color: color-mix(in oklch, var(--t-colour-base-app) calc(var(--t-popover-alpha) * 100%), transparent);
        border: 0;
        color: var(--t-font-colour-default);
        cursor: pointer;
        display: block;
        height: 100%;
        max-height: 100vh;
        position: sticky;
        top: 0;
        width: var(--closed-bar-width);

        &:hover {
          background-color: var(--t-colour-base-app);
        }

        .chevron {
          transform: scale(1.5) rotate(0deg);
        }
      }

      .leftbar-content {
        backdrop-filter: var(--t-popover-backdrop-filter);
        background-color: var(--t-popover-background-colour-base);
        overflow: hidden;
        transition-duration: var(--t-transition-duration-medium);
        transition-property: width, padding;
        width: 200px;
      }
    }

    .leftbar.largescreenonly + .content {
      --closed-bar-width: 0px;
      border-radius: var(--border-radius);
    }

    .content {
      padding-left: calc(1rem + var(--closed-bar-width));
    }
  }

  .main.leftbar-closed {
    .leftbar {
      position: absolute;
      height: 100%;
      width: fit-content;

      .leftbar-content {
        width: 0;
        padding: 1rem 0;
      }
    }
  }

  .main.leftbar-open {
    .leftbar {
      .leftbar-content {
        width: 200px;
      }

      .leftbar-toggle {
        box-shadow: #0002 6px 0 12px;

        .chevron {
          transform: scale(1.5) rotate(180deg);
        }
      }
    }
  }
}
