.wrapper {
  width: 100%;
  background-color: oklch(
    calc(0.5 + var(--t-mode-colour-scaling) * 0.3)
    calc(var(--t-colour-base-app-chroma) * 0.1)
    var(--t-colour-base-app-hue)
  );
}

.layout {
  --background-base: var(--t-colour-page-background);
  --main-background: color-mix(in oklch, var(--background-base) 90%, var(--t-colour-app-background));
  --top-shadow: inset color-mix(in oklch, var(--background-base) 90%, white) 0 1px 0;
  --bottom-shadow: inset color-mix(in oklch, var(--background-base) 90%, black) 0 -1px 0;
  --back-shadow: #0003 0 0 4rem;
  box-sizing: border-box;
  color: var(--t-font-colour-default);
  margin: 0 auto;
  max-width: var(--t-page-max-width);
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .layout {
    padding-top: 0;
  }
}
