.wrapper {
  width: 100%;
  --background-colour: oklch(
    calc(0.5 + var(--t-mode-colour-scaling) * 0.3)
    0.05
    var(--t-colour-base-app-hue)
  );
  background-image: conic-gradient(
    in oklch longer hue,
    var(--background-colour) 0deg,
    oklch(from var(--background-colour) l c calc(h + 360)) 360deg
  );
  background-attachment: fixed;
}

.layout {
  --background-base: var(--t-colour-page-background);
  --main-background: color-mix(in oklch, var(--background-base) 90%, var(--t-colour-app-background));
  --back-shadow: #0003 0 0 4rem;
  box-sizing: border-box;
  color: var(--t-font-colour-default);
  margin: 0 auto;
  max-width: var(--t-page-max-width);
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (max-width: 900px) {
  .layout {
    padding-top: 0;
  }
}
