.main {
  --border-radius: 12px;
  border-radius: var(--border-radius);
  box-shadow: var(--back-shadow);
  color: var(--t-font-colour-default);
  display: flex;
  position: relative;
  z-index: 1;
}

.main .leftbar {
  --background-base: oklch(from var(--t-page-background-colour) calc(l - var(--t-mode-colour-scaling) * 0.05) c h);
  --main-background: color-mix(in oklch, var(--background-base) 90%, var(--t-background-background-colour));
  --top-shadow: inset oklch(from var(--background-base) calc(l + 0.1) c h) 0 1px 0;
  --bottom-shadow: inset oklch(from var(--background-base) calc(l - 0.1) c h) 0 -1px 0;
  /* --main-background, --top-shadow and --bottom-shadow are already defined at a higher level, but the change of --background-base does not change their values unless they are redefined here for some reason */
  background-color: var(--main-background);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  box-shadow: var(--top-shadow), var(--bottom-shadow);
  flex-grow: 1;
  box-sizing: border-box;

  .leftbar-content {
    padding: 1rem;
  }

  .leftbar-toggle {
    display: none;
  }
}

.main .content {
  background-color: var(--main-background);
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  box-shadow: var(--top-shadow), var(--bottom-shadow);
  flex-grow: 3;
  padding: 1rem;
}

.leftbar:has(.leftbar-content:empty) {
  display: none;
}

.leftbar:has(.leftbar-content:empty) + .content {
  border-radius: var(--border-radius);
}

@media (max-width: 1200px) {
  .main {
    --border-radius: 0;
  }
}

@media (max-width: 800px) {

  .main {
    --closed-bar-width: var(--t-clickable-area-size);
    position: relative;

    .leftbar {
      display: flex;
      flex-direction: row;
      position: absolute;
      height: 100%;
      z-index: 100;
      background-color: transparent;

      .leftbar-toggle {
        backdrop-filter: var(--t-popover-backdrop-filter);
        background-color: oklch(from var(--t-base-colour) l c h / var(--t-popover-alpha));
        border: 0;
        color: var(--t-font-colour-default);
        display: block;
        height: 100%;
        max-height: 100vh;
        position: sticky;
        top: 0;
        width: var(--closed-bar-width);

        &:hover {
          background-color: var(--t-base-colour);
        }

        .chevron {
          transform: scale(1.5) rotate(0deg);
        }
      }

      .leftbar-content {
        backdrop-filter: var(--t-popover-backdrop-filter);
        background-color: var(--t-popover-background-colour-base);
        overflow: hidden;
        transition-duration: var(--t-transition-duration-medium);
        transition-property: width, padding;
        width: 200px;
      }
    }

    .content {
      padding-left: calc(1rem + var(--closed-bar-width));
    }
  }

  .main.leftbar-closed {
    .leftbar {
      position: absolute;
      height: 100%;
      width: fit-content;

      .leftbar-content {
        width: 0;
        padding: 1rem 0;
      }
    }
  }

  .main.leftbar-open {
    .leftbar {
      .leftbar-content {
        width: 200px;
      }

      .leftbar-toggle {
        box-shadow: #0002 6px 0 12px;

        .chevron {
          transform: scale(1.5) rotate(180deg);
        }
      }
    }
  }
}
