a {
  --colour: var(--t-colour-base-app-high-contrast);
  color: var(--colour);
  text-decoration: none;

  &:hover:has(> t-box) {
    text-decoration: none;

    > t-box {
      background: var(--t-background-panel);
      text-decoration: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0;
    }
  }

  > t-box {
    color: var(--colour);
    cursor: pointer;
  }
}
