:host {
  display: block;
}

.t-tabs {
  --bottom-shadow-inset: color-mix(in oklab, transparent 92%, white) inset 0 -1px;
  --bottom-shadow: var(--bottom-shadow-inset);
  --heading-colour: var(--t-panel-heading-colour);
  --selected-colour: var(--t-panel-heading-colour);
  --tab-margin: 3px;
  --top-shadow-inset: color-mix(in oklab, transparent 92%, black) inset 0 1px;
  --top-shadow: var(--top-shadow-inset);

  [role='tablist'] {
    background-color: var(--heading-colour);
    border-top-left-radius: var(--t-border-radius-default);
    border-top-right-radius: var(--t-border-radius-default);
    box-shadow: var(--top-shadow);
    height: calc(var(--t-clickable-area-size) + var(--tab-margin));

    [role='tab'] {
      background: var(--selected-colour);
      border-top-left-radius: var(--t-border-radius-default);
      border-top-right-radius: var(--t-border-radius-default);
      border-width: 0;
      box-sizing: border-box;
      color: var(--t-font-colour-default);
      cursor: pointer;
      font-size: var(--t-default-font-size);
      height: var(--t-clickable-area-size);
      margin-left: var(--tab-margin);
      margin-top: var(--tab-margin);
      padding: .5rem;

      &[aria-selected='true'] {
        background-attachment: fixed;
        background-image: var(--t-image-panel-background);
        background-size: 100vw 100vh;
      }

      &[aria-selected='false']:not(:hover) {
        color: color-mix(in oklab, var(--t-font-colour-default) 60%, var(--t-colour-page-background));
      }
    }
  }

  [role='tabpanel'] {
    background-image: var(--t-image-panel-background);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: var(--bottom-shadow);

    &.inactive {
      display: none;
    }
  }
}
