.root {
  --t-base-border-colour: unset;
  --t-base-colour-hue: unset;
  --t-base-colour-lightness: unset;
  --t-base-colour-saturation: unset;
  --t-base-colour-chroma: unset;
  --t-base-colour: oklch(
    var(--t-base-colour-lightness)
    var(--t-base-colour-chroma)
    calc(var(--t-base-colour-hue) + var(--t-base-colour-hue-offset, 0) * 1turn)
  );
  --t-background-background-colour: oklch(from var(--t-page-background-colour) calc(l * 0.9) c h);
  --t-base-contrast-colour: unset;
  --t-base-fill-colour: var(--t-base-border-colour);
  --t-font-colour-default: var(--t-full-contrast-colour);
  --t-input-field-background-colour: unset;
  --t-page-background-colour: unset;
  --t-popover-alpha: 0.75;
  --t-popover-backdrop-filter: blur(8px);
  --t-popover-border-radius: 6px;
  --t-popover-shadow: #000c 0 4px 12px;
  --t-selection-background-colour: var(--t-base-fill-colour);
  --t-selection-font-colour: var(--t-font-colour-default);
  --t-transition-duration-long: calc(--t-transition-duration-medium * 2);
  --t-transition-duration-medium: calc(--t-transition-duration-short * 2);
  --t-transition-duration-short: 0.1s;
  --t-navbar-item-border-radius: 8px;
}

@media (prefers-reduced-motion) {
  .root {
    --t-transition-duration-short: 0;
  }
}

.root *::selection {
  background-color: var(--t-selection-background-colour);
  color: var(--t-selection-font-colour);
}

.root.light {
  --t-selection-font-colour: white;
  --t-full-contrast-colour: black;
  --t-mode-colour-scaling: 1;
}

.root.dark {
  --t-selection-font-colour: black;
  --t-full-contrast-colour: white;
  --t-mode-colour-scaling: -1;
}
