:root {
  --t-base-hue: 160deg;
  --t-base-saturation: 75%;
  --t-base-colour: hsl(var(--t-base-hue), var(--t-base-saturation), 50%);
  --t-spacing-inline: calc(1rem / 4);

  font-family: Arial, sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}
