:host {
  --chroma: 0.4;
  --lightness: 0.8;
  --hue-offset: 0; /* Set by JS */
  --slider-background: linear-gradient(
    in oklch longer hue to right,
    oklch(var(--lightness) var(--chroma) var(--hue-offset)),
    oklch(var(--lightness) var(--chroma) calc(var(--hue-offset) + 360))
  );
}
