ul.t-article-list {
  container-type: inline-size;
  container-name: article-list;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;

  li {
    --background-colour: var(--t-panel-background-colour);

    &:nth-child(even) {
      --background-colour: var(--t-colour-grey-low-contrast);
    }

    a {

      background-color: var(--background-colour);
      color: var(--t-font-colour-default);
      gap: var(--t-spacing-in-group);
      display: grid;
      grid-template: "title date" auto
                   "intro date" auto
                   / 1fr auto;
      padding: var(--t-spacing-default);
      text-decoration: none;

      &:hover, &:focus {
        --background-colour: var(--t-colour-base-component-low-contrast);
        transform: scale(1.01);
        transition: var(--t-transition-duration-medium);
      }

      .item-title {
        color: var(--t-colour-base-component-high-contrast);
        font-weight: bolder;
        grid-area: title;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .item-intro {
        grid-area: intro;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .item-date {
        align-self: center;
        grid-area: date;
        text-align: right;
      }
    }
  }

  li:first-child a {
    border-top-left-radius: var(--t-border-radius-default);
    border-top-right-radius: var(--t-border-radius-default);
  }

  li:last-child a {
    border-bottom-left-radius: var(--t-border-radius-default);
    border-bottom-right-radius: var(--t-border-radius-default);
  }
}

@container article-list (max-width: 600px) {
  ul.t-article-list li a {
    grid-template:
        "title title"
        "intro date"
        / 1fr auto;
  }
}
