t-box-list {
  container-type: inline-size;
  container-name: article-list;

  li {

    a {
      t-box {
        color: var(--t-font-colour-default);
        display: grid;
        gap: var(--t-spacing-in-group);
        grid-template: "title date" auto
                   "intro date" auto
                   / 1fr auto;
        padding: var(--t-spacing-default);
        text-decoration: none;
      }

      .item-title {
        color: var(--t-colour-base-component-high-contrast);
        font-weight: bolder;
        grid-area: title;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .item-intro {
        grid-area: intro;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .item-date {
        align-self: center;
        grid-area: date;
        text-align: right;
      }
    }
  }
}

@container article-list (max-width: 600px) {
  t-box-list li a {
    grid-template:
        "title title"
        "intro date"
        / 1fr auto;
  }
}
