ul.t-article-list {
  container-type: inline-size;
  container-name: article-list;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  li a {
    --background-colour: var(--t-small-contrast-colour);
    --top-shadow-colour: color-mix(in oklab, var(--background-colour) 85%, white);
    --bottom-shadow-colour: color-mix(in oklab, var(--background-colour) 85%, black);
    --top-shadow: inset var(--top-shadow-colour) 0 1px 0;
    --bottom-shadow: inset var(--bottom-shadow-colour) 0 -1px 0;

    background-color: var(--background-colour);
    box-shadow: var(--top-shadow), var(--bottom-shadow);
    color: var(--t-font-colour-default);
    column-gap: var(--t-spacing-in-group);
    display: grid;
    grid-template: "title date" auto
                   "intro date" auto
                   / 1fr auto;
    padding: var(--t-spacing-in-group);
    text-decoration: none;

    &:hover {
      --background-colour: var(--t-base-colour);
    }

    .item-title {
      font-weight: bold;
      grid-area: title;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-intro {
      grid-area: intro;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .item-date {
      align-self: center;
      grid-area: date;
      text-align: right;
    }
  }

  li:first-child a {
    border-top-left-radius: var(--t-border-radius-default);
    border-top-right-radius: var(--t-border-radius-default);
  }

  li:last-child a {
    border-bottom-left-radius: var(--t-border-radius-default);
    border-bottom-right-radius: var(--t-border-radius-default);
  }
}

@container article-list (max-width: 600px) {
  ul.t-article-list li a {
    grid-template:
        "title title"
        "intro date"
        / 1fr auto;
  }
}
