:host {
  --top-shadow-inset: color-mix(in oklab, transparent 92%, white) inset 0 1px;
  --bottom-shadow-inset: color-mix(in oklab, transparent 92%, black) inset 0 -1px;
  --top-shadow: var(--top-shadow-inset);
  --bottom-shadow: var(--bottom-shadow-inset);
  --heading-colour: var(--t-panel-heading-colour);

  background-attachment: fixed;
  background-image: var(--t-image-panel-background);
  background-size: 100vw 100vh;
  border-radius: var(--t-border-radius-default);
  box-shadow: var(--top-shadow), var(--bottom-shadow);
  color: var(--t-font-colour-default);
  display: block;
  font-size: var(--t-default-font-size);
}

.heading {
  align-items: center;
  --background-filter-colour: color-mix(in oklab, var(--t-panel-heading-colour) 75%, transparent);
  --background-filter: linear-gradient(var(--background-filter-colour), var(--background-filter-colour));
  background-image: var(--background-filter), var(--t-background-image-app);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  border-top-left-radius: var(--t-border-radius-default);
  border-top-right-radius: var(--t-border-radius-default);
  box-shadow: var(--top-shadow-inset);
  color: var(--t-colour-base-component-high-contrast);
  display: flex;
  padding: .5rem;
}

slot[name="heading"] {
  display: block;
  flex: 1;
  margin-left: .5rem;
}

.content {
  padding: 1rem;
}
