:host {
  --top-shadow-inset: color-mix(in oklab, transparent 65%, white) inset 0 1px;
  --bottom-shadow-inset: color-mix(in oklab, transparent 75%, black) inset 0 -1px;
  --top-shadow: var(--top-shadow-inset);
  --bottom-shadow: var(--bottom-shadow-inset);
  --heading-colour: var(--t-panel-heading-colour);

  background-color: var(--t-panel-background-colour);
  border-radius: var(--t-border-radius-default);
  box-shadow: var(--top-shadow), var(--bottom-shadow);
  color: var(--t-font-colour-default);
  display: block;
  font-size: var(--t-default-font-size);
  border: 1px solid var(--heading-colour);
}

.heading {
  align-items: center;
  background: var(--heading-colour);
  border-top-left-radius: var(--t-border-radius-default);
  border-top-right-radius: var(--t-border-radius-default);
  box-shadow: var(--top-shadow-inset);
  color: var(--t-base-contrast-colour);
  display: flex;
  padding: .5rem;
}

slot[name="heading"] {
  display: block;
  flex: 1;
  margin-left: .5rem;
}

.content {
  padding: 1rem;
}
