.root {
  --t-background-attachment-app: fixed;
  --t-background-image-app: var(--t-background-image-app-top-layer), var(--t-background-image-app-bottom-layer);
  --t-background-image-app-top-layer: radial-gradient(
    oklch(from var(--t-colour-app-background) l 0 h),
    transparent 50%
  );
  --t-background-image-app-bottom-layer: conic-gradient(
    in oklch longer hue,
    var(--t-colour-app-background) 0deg,
    oklch(from var(--t-colour-app-background) l c calc(h + 360)) 360deg
  );
  --t-background-panel:
    var(--t-background-image-app-top-layer) fixed repeat var(--t-background-size-app),
    var(--t-background-image-app-bottom-layer) fixed repeat var(--t-background-size-app);
  --t-background-size-app: 100vw 100vh;
  --t-border-radius-default: 6px;
  --t-border-radius-small: 3px;
  --t-box-shadow-active: color-mix(in oklab, var(--t-colour-base-app-high-contrast) 20%, transparent) 0 0 24px;
  --t-box-shadow-inset-3d-bottom: color-mix(in oklab, transparent 75%, black) inset 0 -1px;
  --t-box-shadow-inset-3d-top: color-mix(in oklab, transparent 65%, white) inset 0 1px;
  --t-box-shadow-inset-3d: var(--t-box-shadow-inset-3d-top), var(--t-box-shadow-inset-3d-bottom);
  --t-clickable-area-size: 44px;
  --t-colour-app-background-chroma: 0.05;
  --t-colour-app-background-hue: var(--t-colour-base-app-hue);
  --t-colour-app-background-lightness: calc(0.6 + var(--t-mode-colour-scaling) * 0.3);
  --t-colour-app-background: oklch(var(--t-colour-app-background-lightness) var(--t-colour-app-background-chroma) var(--t-colour-app-background-hue));
  --t-colour-base-app-chroma: unset; /* Set by JS */
  --t-colour-base-app-high-contrast: unset; /* Set by JS */
  --t-colour-base-app-hue: unset; /* Set by JS */
  --t-colour-base-app-lightness: unset; /* Set by JS */
  --t-colour-base-app-low-contrast: unset; /* Set by JS */
  --t-colour-base-app: unset; /* Set by JS */
  --t-colour-base-component-high-contrast: unset; /* Set by JS */
  --t-colour-base-component-low-contrast: unset; /* Set by JS */
  --t-colour-base-component: unset; /* Set by JS */
  --t-colour-base-hue-offset-code: unset; /* Set by JS */
  --t-colour-base-hue-offset-visited-link: unset; /* Set by JS */
  --t-colour-grey-high-contrast: unset; /* Set by JS */
  --t-colour-grey-low-contrast: unset; /* Set by JS */
  --t-colour-grey: unset; /* Set by JS */
  --t-colour-input-field-background: color-mix(in oklab, var(--t-colour-full-contrast) 5%, transparent);
  --t-colour-page-background: unset; /* Set by JS */
  --t-colour-panel-background-filter: color-mix(in oklab, var(--t-colour-grey-low-contrast) 75%, transparent);
  --t-default-font-family: ui-sans-serif, Verdana, Arial, Helvetica, sans-serif;
  --t-default-font-size: 1rem;
  --t-font-colour-default: var(--t-colour-full-contrast);
  --t-font-family-default: ui-sans-serif, Verdana, Arial, Helvetica, sans-serif;
  --t-font-size-default: 1rem;
  --t-heading-font-family: var(--t-font-family-default);
  --t-heading-size-1: 2em;
  --t-heading-size-2: 1.5em;
  --t-heading-size-3: 1.5em;
  --t-heading-size-4: 1.3em;
  --t-heading-size-5: 1em;
  --t-heading-size-6: 1em;
  --t-heading-spacing-bottom-1: calc(var(--t-heading-size-1) * var(--t-heading-spacing-bottom-factor));
  --t-heading-spacing-bottom-2: calc(var(--t-heading-size-2) * var(--t-heading-spacing-bottom-factor));
  --t-heading-spacing-bottom-3: calc(var(--t-heading-size-3) * var(--t-heading-spacing-bottom-factor));
  --t-heading-spacing-bottom-4: calc(var(--t-heading-size-4) * var(--t-heading-spacing-bottom-factor));
  --t-heading-spacing-bottom-5: calc(var(--t-heading-size-5) * var(--t-heading-spacing-bottom-factor));
  --t-heading-spacing-bottom-6: calc(var(--t-heading-size-6) * var(--t-heading-spacing-bottom-factor));
  --t-heading-spacing-bottom-factor: 0.5;
  --t-heading-spacing-top-1: 0;
  --t-heading-spacing-top-2: calc(var(--t-heading-size-2) * var(--t-heading-spacing-top-factor));
  --t-heading-spacing-top-3: calc(var(--t-heading-size-3) * var(--t-heading-spacing-top-factor));
  --t-heading-spacing-top-4: calc(var(--t-heading-size-4) * var(--t-heading-spacing-top-factor));
  --t-heading-spacing-top-5: calc(var(--t-heading-size-5) * var(--t-heading-spacing-top-factor));
  --t-heading-spacing-top-6: calc(var(--t-heading-size-6) * var(--t-heading-spacing-top-factor));
  --t-heading-spacing-top-factor: 1;
  --t-image-panel-background-filter: linear-gradient(var(--t-colour-panel-background-filter), var(--t-colour-panel-background-filter)); /* The only way to make an image with one colour */
  --t-image-panel-background: var(--t-image-panel-background-filter), var(--t-background-image-app);
  --t-leftbar-width: 240px;
  --t-line-height-paragraph: 1.75;
  --t-navbar-item-border-radius: 8px;
  --t-page-max-width: 1200px;
  --t-panel-background-colour: color-mix(in oklab, var(--t-colour-base-app) 12%, var(--t-colour-grey-low-contrast));
  --t-panel-heading-colour: oklch(from var(--t-colour-base-app) l calc(c*0.5) h);
  --t-popover-alpha: 0.75;
  --t-popover-backdrop-filter: blur(12px);
  --t-popover-background-colour-base: color-mix(in oklab, var(--t-colour-grey-low-contrast) calc(var(--t-popover-alpha) * 100%), transparent);
  --t-popover-border-radius: var(--t-border-radius-default);
  --t-popover-shadow: #000c 0 4px 12px;
  --t-selection-background-colour: var(--t-colour-base-app-high-contrast);
  --t-selection-font-colour: var(--t-font-colour-default);
  --t-spacing-default: 1rem;
  --t-spacing-in-group: 0.5rem;
  --t-spacing-inline: 0.25rem;
  --t-spacing-large: 2rem;
  --t-transition-duration-long: 0.4s;
  --t-transition-duration-medium: 0.2s;
  --t-transition-duration-short: 0.1s;
  --t-z-index-dropdown-menu: 2000;
  --t-z-index-tooltip: 3000;

  color: var(--t-font-colour-default);
  font-family: var(--t-default-font-family);
  font-size: var(--t-default-font-size);
  min-height: 100vh;
}

@media (prefers-reduced-motion) {
  .root {
    --t-transition-duration-long: 0;
    --t-transition-duration-medium: 0;
    --t-transition-duration-short: 0;
  }
}

.root *::selection {
  background-color: var(--t-selection-background-colour);
  color: var(--t-selection-font-colour);
}

.root.light {
  --t-selection-font-colour: white;
  --t-colour-full-contrast: black;
  --t-colour-mode: white;
  --t-mode-colour-scaling: 1;
}

.root.dark {
  --t-selection-font-colour: black;
  --t-colour-full-contrast: white;
  --t-colour-mode: black;
  --t-mode-colour-scaling: -1;
}

p, dd {
  line-height: var(--t-line-height-paragraph);
  margin: 1em 0;
  font-size: var(--t-font-size-default);
}
