.root {
  --t-base-border-colour: unset;
  --t-base-colour-hue: unset;
  --t-base-colour-lightness: unset;
  --t-base-colour-saturation: unset;
  --t-base-colour-chroma: unset;
  --t-base-colour: oklch(
    var(--t-base-colour-lightness)
    var(--t-base-colour-chroma)
    calc(var(--t-base-colour-hue) + var(--t-base-colour-hue-offset, 0) * 1turn)
  );
  --t-background-background-colour: color-mix(in oklab, var(--t-page-background-colour) 90%, black);
  --t-base-contrast-colour: unset;
  --t-base-low-contrast-colour: unset;
  --t-base-fill-colour: var(--t-base-border-colour);
  --t-border-radius-default: 6px;
  --t-clickable-area-size: 44px;
  --t-default-font-size: 1rem;
  --t-font-colour-default: var(--t-full-contrast-colour);
  --t-input-field-background-colour: color-mix(in oklab, var(--t-full-contrast-colour) 5%, transparent);
  --t-navbar-item-border-radius: 8px;
  --t-page-background-colour: unset;
  --t-page-max-width: 1200px;
  --t-popover-alpha: 0.75;
  --t-popover-backdrop-filter: blur(8px);
  --t-popover-background-colour-base: color-mix(in oklab, var(--t-small-contrast-colour) calc(var(--t-popover-alpha) * 100%), transparent);
  --t-popover-border-radius: var(--t-border-radius-default);
  --t-popover-shadow: #000c 0 4px 12px;
  --t-selection-background-colour: var(--t-base-fill-colour);
  --t-selection-font-colour: var(--t-font-colour-default);
  --t-small-contrast-colour: color-mix(in oklab, var(--t-page-background-colour) 95%, var(--t-full-contrast-colour));
  --t-spacing-default: 1rem;
  --t-spacing-in-group: 0.5rem;
  --t-spacing-inline: 0.25rem;
  --t-spacing-large: 2rem;
  --t-transition-duration-long: 0.4s;
  --t-transition-duration-medium: 0.2s;
  --t-transition-duration-short: 0.1s;
  --t-z-index-tooltip: 100;
  --t-z-index-dropdown-menu: 200;

  font-family: Calibri, Arial, sans-serif;
  font-size: var(--t-default-font-size);
  min-height: 100vh;
}

@media (prefers-reduced-motion) {
  .root {
    --t-transition-duration-short: 0;
  }
}

.root *::selection {
  background-color: var(--t-selection-background-colour);
  color: var(--t-selection-font-colour);
}

.root.light {
  --t-selection-font-colour: white;
  --t-full-contrast-colour: black;
  --t-mode-colour-scaling: 1;
}

.root.dark {
  --t-selection-font-colour: black;
  --t-full-contrast-colour: white;
  --t-mode-colour-scaling: -1;
}
