.wrapper {
  display: inline-flex;
  flex-direction: row;
  gap: var(--t-spacing-inline);
  align-items: center;
}

.switch {
  --height: 1.5rem;
  --padding: 1px;
  --width: calc(var(--height) * 2);
  --hover-translate: 4px;
  --border-width: 1px;
  position: relative;
  display: inline-block;
  height: var(--height);
  width: var(--width);
  box-sizing: border-box;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --top-mix-colour: black;
  --bottom-mix-colour: white;
  --chroma: 0;
  --fill-colour: var(--t-input-field-background-colour);
  background: linear-gradient(
    to bottom,
    color-mix(in oklab, var(--fill-colour) 90%, var(--top-mix-colour)),
    var(--fill-colour),
    color-mix(in oklab, var(--fill-colour) 90%, var(--bottom-mix-colour))
  );
  border-radius: 100px;
  border:
    var(--border-width)
    solid
    var(--t-base-border-colour);
  bottom: 0;
  box-shadow: #0004 0 1px 2px 1px inset;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--height);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: var(--t-transition-duration-long);
  width: var(--width);
}

.slider:before {
  aspect-ratio: 1;
  background-color: var(--t-base-fill-colour);
  border-radius: 50%;
  top: var(--padding);
  content: "";

  height: calc(var(--height) - var(--padding) * 2 - var(--border-width) * 2);
  left: var(--padding);
  position: absolute;
  transition: var(--t-transition-duration-short);
}

input:checked + .slider {
  --chroma: 0.4;
  --top-mix-colour: white;
  --bottom-mix-colour: black;
  --fill-colour: var(--t-base-fill-colour);
  box-shadow: none;
}

input:checked + .slider:before {
  transform: translateX(calc(var(--width) - var(--height)));
  background-color: var(--t-page-background-colour);
}

.switch:has(:focus-visible) .slider {
  outline: #000 auto 2px;
}

.wrapper:hover .slider:before {
  transform: translateX(var(--hover-translate));
}

.wrapper:hover input:checked + .slider:before {
  transform: translateX(calc(var(--width) - var(--height) - var(--hover-translate)));
}
