.t-dropdown-menu {
  position: static;
}

.t-dropdown-menu .t-button::after {
  display: none;
}

.t-dropdown-menu .dropdown-menu {
  backdrop-filter: var(--t-popover-backdrop-filter);
  background-color: unset;
  border-radius: var(--t-popover-border-radius);
  border: none;
  box-shadow: var(--t-popover-shadow);
  color: var(--t-font-colour-default);
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: var(--t-z-index-dropdown-menu);
}

.t-dropdown-menu .dropdown-menu .dropdown-item {
  --menu-item-background-colour-base: var(--t-popover-background-colour-base);
  --menu-item-background-colour: var(--menu-item-background-colour-base);
  align-items: center;
  background-color: var(--menu-item-background-colour);
  border: none;
  color: var(--t-font-colour-default);
  cursor: pointer;
  display: inline-grid;
  font-size: var(--t-default-font-size);
  gap: var(--t-spacing-inline);
  grid-template-columns: auto 1fr auto;
  padding: .5rem;
  text-align: left;
  width: 100%;
}

.t-dropdown-menu .dropdown-menu li:first-child .dropdown-item {
  border-top-left-radius: var(--t-popover-border-radius);
  border-top-right-radius: var(--t-popover-border-radius);
  box-shadow: color-mix(in oklab, var(--menu-item-background-colour) 85%, white) inset 0 1px;
}

.t-dropdown-menu .dropdown-menu li:last-child .dropdown-item {
  border-bottom-left-radius: var(--t-popover-border-radius);
  border-bottom-right-radius: var(--t-popover-border-radius);
  box-shadow: color-mix(in oklab, var(--menu-item-background-colour) 85%, black) inset 0 -1px;
}

.t-dropdown-menu .dropdown-menu .dropdown-item:hover,
.t-dropdown-menu .dropdown-menu .dropdown-item:focus-within {
  --menu-item-background-colour: color-mix(
    in oklab,
    var(--menu-item-background-colour-base) 90%,
    var(--t-full-contrast-colour)
  );
}

.t-dropdown-menu .dropdown-menu .dropdown-item.selected {
  --menu-item-background-colour: color-mix(in oklab, var(--t-base-colour) calc(var(--t-popover-alpha) * 100%), transparent);
  );
}
