:host {
  --t-base-colour: oklch(var(--t-base-colour-lightness) var(--t-base-colour-chroma) var(--t-base-colour-hue));
  --t-selection-background-colour: var(--t-base-fill-colour);
  --t-link-colour: var(--t-base-contrast-colour);
  --t-link-visited-colour: oklch(from var(--t-base-contrast-colour) l c calc(h + 30));
}

