.t-button {
  --gradient-factor: var(--t-gradient-factor);
  --gradient-term: calc(l * var(--gradient-factor));
  --button-colour: var(--t-base-colour);
  background: linear-gradient(
    to top,
    oklch(from var(--button-colour) calc((l - var(--gradient-term))) c h),
    oklch(from var(--button-colour) l c h),
    oklch(from var(--button-colour) calc((l + var(--gradient-term))) c h)
  );
  box-shadow:
    inset oklch(from var(--button-colour) calc(l + var(--gradient-term) * 2) c h) 0 1px,
    inset oklch(from var(--button-colour) calc(l - var(--gradient-term) * 2) c h) 0 -1px,
    oklch(from var(--t-page-background-colour) calc(l + 0.3) c h / 0.9) 0 1px 1px,
    oklch(from var(--t-page-background-colour) calc(l - 0.5) c h / 0.5) 0 1px 2px,
    rgb(0 0 0 / 0.2) 0 -1px 1px;
  border-radius: 100px;
  border: 0 solid var(--t-base-border-colour);
  color: var(--t-font-colour-default);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: .5rem;
  transition: box-shadow var(--transistion-duration);
  line-height: 1;
}

.t-button:hover {
  --button-colour: oklch(from var(--t-base-colour) calc(l + var(--gradient-term)) c h);
}

.t-button:active {
  --transistion-duration: 0s;
  --gradient-factor: 0;
}

* {
  --t-base-colour-hue-offset: 180;
}
