.t-spinner {
  --size: 2rem;
  animation: spin 1s linear infinite;
  background-color: transparent;
  border-color: var(--t-colour-grey-low-contrast);
  border-radius: 50%;
  border-style: solid;
  border-top-color: var(--t-colour-base-app-high-contrast);
  border-width: 4px;
  box-sizing: border-box;
  display: inline-block;
  height: var(--size);
  position: relative;
  width: var(--size);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
