button {
  --gradient-offset: calc(0.2 * var(--t-base-colour-lightness));
  --gradient-top: calc(var(--t-base-colour-lightness) - var(--gradient-offset));
  --gradient-bottom: calc(var(--t-base-colour-lightness) + var(--gradient-offset));
  background: linear-gradient(
    to top,
    hsl(var(--t-base-colour-hue), var(--t-base-colour-saturation), var(--gradient-top)),
    hsl(var(--t-base-colour-hue), var(--t-base-colour-saturation), var(--gradient-bottom))
  );
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid hsl(var(--t-base-colour-hue), var(--t-base-colour-saturation), 30%);
  font-size: 1rem;
  padding: .5rem;
  --shadow-size: 1px;
  --shadow-blur: calc(var(--shadow-size) * 2);
  --inset-shadow-size: 0px;
  --inset-shadow-blur: calc(var(--inset-shadow-size) * 2);
  --transistion-duration: 0.2s;
  box-shadow:
    0 var(--shadow-size) var(--shadow-blur) var(--shadow-size) rgba(255, 255, 255, 0.9),
    0 calc(var(--shadow-size) * 2) var(--shadow-blur) rgba(0, 0, 0, 0.4),
    0 calc(var(--shadow-size) * -1) var(--shadow-blur) rgba(0, 0, 0, 0.4),
    inset 0 0 var(--inset-shadow-blur) var(--inset-shadow-size) rgba(0, 0, 0, 0.2);
  color: var(--t-font-colour-default);
  transition: box-shadow var(--transistion-duration);
}

button:hover {
  --inset-shadow-size: 2px;
}

button:active {
  --inset-shadow-size: 0px;
  --transistion-duration: 0s;
  --gradient-offset: 0%;
}
