button {
  --shadow-size: 1px;
  --shadow-blur: calc(var(--shadow-size) * 2);
  --inset-shadow-size: 0px;
  --inset-shadow-blur: calc(var(--inset-shadow-size) * 2);
  --transistion-duration: 0.2s;
  background: linear-gradient(
    to top,
    lch(from var(--t-base-colour) calc(l * 0.8) c h),
    var(--t-base-colour),
    lch(from var(--t-base-colour) calc(l * 1.2) c h)
  );
  cursor: pointer;
  border-radius: 100px;
  font-size: 1rem;
  padding: .5rem;
  color: var(--t-font-colour-default);
  transition: box-shadow var(--transistion-duration);
  border: 1px solid var(--t-base-border-colour);
}

button:hover {
  --inset-shadow-size: 2px;
}

button:active {
  --inset-shadow-size: 0px;
  --transistion-duration: 0s;
  background: var(--t-base-colour);
}

* {
  --t-base-colour-hue-offset: 180;
}
